@import url('https://fonts.cdnfonts.com/css/highman-trial');
@import url('https://fonts.cdnfonts.com/css/museo-sans-rounded');

html {
    scrollbar-width: normal;
    scrollbar-color: #777 #555;
}

html::-webkit-scrollbar {
    width: 10px;
}

html::-webkit-scrollbar-thumb {
    border-radius: 20%;
    background: linear-gradient(to bottom, #db48bb, #8b26e3 87%);
}

html::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to left bottom, #852FCF, #fd5fdb);
}

html::-webkit-scrollbar-track {
    background-color: rgba(241, 224, 241, 0.945);
}

html::-webkit-scrollbar-track:hover {
    background-color: rgb(222, 220, 220);
}

body {
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    overflow-x: hidden;
    width: 100vw;
}

section {
    height: 100vh;
    max-width: 100vw;
    display: flex;
}

#sec-1 {
    max-height: 100vh;
}

.scroll-down {
    z-index: 12;
    height: 50px;
    width: 30px;
    border: transparent;
    position: absolute;
    left: 50%;
    bottom: 20px;
    cursor: pointer;
}

.scroll-down::before,
.scroll-down::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid #FFFDFD;
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1s ease-in-out infinite;
}

@keyframes scroll-down {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        top: 60%;
        opacity: 0;
    }
}

#dsn {
    position: relative;
    display: flexbox;
    height: 100vh;
    width: 100vw;
}

#dsn #pr {
    z-index: 10;
    position: absolute;
    display: flex;
    width: 100%;
    left: 0;
    bottom: 0;
}

#dsn #cb {
    position: absolute;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
}

#dsn #cel {
    position: absolute;
    display: flex;
    width: 100%;
    top: -7px;
    left: 0;
    object-position: fixed;

}

#dsn #cbig {
    position: absolute;
    display: flex;
    width: 100%;
    left: 97px;
    top: 37px;
    object-position: fixed;

}

#dsn #vs {
    position: absolute;
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
}

#dsn #vsc {
    position: absolute;
    width: 1138px;
    height: 260px;
    left: 55px;
    top: 3;

    font-family: 'Highman Trial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 180.667px;
    line-height: 260px;

    color: #4B0086;
    object-position: fixed;

}

#dsn #rock {
    position: absolute;
    display: flex;
    width: 100%;
    top: 0;
    right: 0;
}

#dsn #rk {
    z-index: 2;
    position: absolute;
    height: 222.36px;
    right: 0;
    transform: translate(-123.7px, 65px);
    top: 0;
    object-position: fixed;    
}

#sec-2 {
    position: relative;
    display: flex;
    max-width: 1928px;
    height: 1117px;
    left: 0px;
    top: 0px;

    background: linear-gradient(90deg, #e327f6 2.29%, #c828ec 19.06%, #b22ae2 51.35%, #972dd7 80%, #852fce 100%);
}

#sec-2 #drk {
    position: absolute;
    width: 129.7px;
    height: 104.66px;
    left: -16px;
    top: -7px;

    background-image: url(dark.png);
    background-size: cover;
}

#sec-2 #drk2 {
    position: absolute;
    width: 88.57px;
    height: 45px;
    left: 76px;
    top: 19px;

    background-image: url(cb3.png);
    background-size: contain;
    background-repeat: no-repeat;

}

.scroll-up {
    z-index: 12;
    height: 50px;
    width: 30px;
    border: transparent;
    position: absolute;
    left: 49.62%;
    top: 20px;
    cursor: pointer;
}

.scroll-up::before,
.scroll-up::after {
    content: "";
    position: absolute;
    top: 20%;
    left: 50%;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border: 2px solid #FFFDFD;
    border-bottom: transparent;
    border-right: transparent;
    animation: scroll-up 1s ease-in-out infinite;
}

@keyframes scroll-up {
    0% {
        /* top:20%; */
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    100% {
        top: 60%;
        opacity: 0;
    }
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.pen-title {
    text-align: center;
    color: #666;
    -webkit-font-smoothing: antialiased;
}

#r1 {
    position: absolute;
    left: 154px;
    top: 105px;
    width: 100%;
    /* margin-left: 40px; */
    display: flex;
    flex-direction: row;
    height: 400px;
}

#r2 {
    position: absolute;
    left: 154px;
    top: 464px;
    width: 100%;
    /* margin-left: 40px; */
    display: flex;
    flex-direction: row;
    height: 400px;
}

.card {
    position: relative;
    width: 267px;
    height: 275px;
    padding: 10px 20px;
    background-color: #f7f7f7;
    box-shadow: 2px 2px 5px #999;
    border-radius: 20px;
    margin-right: 150px;
    /* margin-left: 70px; */
    transition: box-shadow 0.5s;
    transition: transform 0.4s;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.card:hover {
    cursor: pointer;
    box-shadow: 2px 2px 50px #666;
    transform: scale(1.47, 1.53);
}

.card-image {
    position: absolute;
    width: 90%;
    height: 50%;
    top: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #666;
}

.card-title {
    position: absolute;
    top: 147px;
    font-family: 'Museo Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 45px;
    /* identical to box height */


    color: #4B0086;
}

.card-content {
    position: absolute;
    bottom: 0;
    /* font-weight: 100;
    font-size: 0.75em; */
}

.button {
    display: flex;
    border-radius: 4px;
    background-color: #5B0F9B;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    width: 200px;
    height: 38.34px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    justify-content: center;
    align-items: center;
    font-family: 'Highman Trial';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 53px;
}

.button span {
    margin-top: 7px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

@media screen {
    #dsn #rock {
        position: absolute;
        top: 75px;
        display: flex;
        width: 100%;
        top: 0;
        right: 0;
    }
    
    #dsn #rk {
        z-index: 2;
        position: absolute;
        right: 75px;
        height: 222px;
        right: 0;
        transform: translate(-123.7 px, 0px);
        top: auto;
        object-position: fixed;
    }
    
    @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
    width: 100%;
  }

}
